ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    --color: white;

  }

ion-toolbar{
  --background:#5C5A5A;
}

ion-content{
  --background: linear-gradient(to left bottom, #474343, #5c5858, #716d6d, #878383, #9e9a9a);
  }

.item1{
  --background: #linear-gradient(to left bottom, #474343, #5c5858, #716d6d, #878383, #9e9a9a);;

}

.item2{
  --background: #linear-gradient(to left bottom, #474343, #5c5858, #716d6d, #878383, #9e9a9a);;

}
.label1{
  color: white !important;

}

ion-datetime {
  color:white !important;
}
